.container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container img{
    height: 500px;

}

.container p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 16px;
}